In [7]:
from pathlib import Path
import pandas as pd
import yfinance as yf

project_root = Path.cwd().parent
raw_path = project_root / "data" / "raw"
raw_path.mkdir(parents=True, exist_ok=True)

ticker = "KO"
prices = yf.download(ticker, start="2000-01-01", auto_adjust=True, progress=False).reset_index()
prices.to_csv(raw_path / "ko_prices.csv", index=False)

tkr = yf.Ticker(ticker)
financials = {
    "quarterly_financials": getattr(tkr, "quarterly_financials", pd.DataFrame()).to_dict(),
    "quarterly_balance_sheet": getattr(tkr, "quarterly_balance_sheet", pd.DataFrame()).to_dict(),
    "quarterly_cashflow": getattr(tkr, "quarterly_cashflow", pd.DataFrame()).to_dict(),
    "dividends": getattr(tkr, "dividends", pd.Series()).to_dict(),
}
pd.Series(financials).to_json(raw_path / "ko_financials.json")

print("saved")
display(prices.head())

###Raw data for Coca-Cola (KO) stored in `data/raw/`:
### `coca_cola_prices.csv` — daily adjusted close prices since 2000 (Yahoo Finance).
### `coca_cola_financials.json` — quarterly financial statements (Yahoo Finance).
### API keys managed with `.env` (not committed). Example provided in `.env.example`.
### Validation: prices checked for continuous dates and non-null values; sample rows inspected in notebook. ###

saved

Price        Date      Close       High        Low       Open    Volume
Ticker                    KO         KO         KO         KO        KO
0      2000-01-03  13.815726  14.213962  13.540024  14.213962  10997000
1      2000-01-04  13.831048  13.922949  13.631930  13.815731   7308000
2      2000-01-05  13.953581  14.076115  13.739146  13.831047   9457400
3      2000-01-06  13.968897  14.137381  13.861679  13.953580   7129200
4      2000-01-07  14.887897  14.887897  14.183326  14.183326  11474000