In [2]:
import sys
from pathlib import Path
import pandas as pd

# enable imports from /src
sys.path.insert(0, str(Path.cwd().parent))
from src.cleaning import drop_missing_dates, ensure_numeric, fill_missing_with_ffill, add_log_returns

in_path  = Path("../data/processed/ko_daily_returns.parquet")
out_path = Path("../data/processed/ko_cleaned.parquet")

df = pd.read_parquet(in_path)
df = drop_missing_dates(df, "Date")
df = ensure_numeric(df, ["close", "daily_ret"])
df = fill_missing_with_ffill(df, ["close", "daily_ret"])
df = add_log_returns(df, "close")
df.to_parquet(out_path, index=False)

df.head()

        Date      close  daily_ret   log_ret
0 2000-01-03  13.815726        NaN       NaN
1 2000-01-04  13.831048   0.001109  0.001108
2 2000-01-05  13.953581   0.008859  0.008820
3 2000-01-06  13.968897   0.001098  0.001097
4 2000-01-07  14.887897   0.065789  0.063715